/* Custom Calendar Styles */
.react-calendar {
  width: 100%;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
  border: none;
  font-family: "Arial", sans-serif;
  padding: 16px;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  background: none;
  color: #4a4a4a;
  border-radius: 8px;
  text-align: center;
}

.react-calendar__tile:hover {
  background-color: #f0f4ff;
}

.react-calendar__tile--active {
  background-color: #0044cc;
  color: white;
  border-radius: 8px;
}

.react-calendar__navigation button {
  color: #0044cc;
  font-weight: bold;
}

.react-calendar__navigation button:hover {
  background-color: #f0f4ff;
  border-radius: 4px;
}

.react-calendar__month-view__weekdays {
  text-transform: uppercase;
  font-weight: bold;
  color: #4a4a4a;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #b0b0b0;
}

.react-calendar__tile--now {
  background-color: #e6f0ff;
  border-radius: 8px;
  color: #0044cc;
}
